/* //apparels page css */

.container-fluid .row .col .inner-card-width {
    width: 23.2%;
    cursor: pointer;
    -webkit-transition: 200ms ease-in-out;
    -o-transition: 200ms ease-in-out;
    transition: 200ms ease-in-out;
    -webkit-box-shadow: 0 0 15px rgba(0, 0, 0, 0.3);
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.3);
}

.container-fluid .row .col .inner-card-width:hover {
    margin-bottom: -10px;
    -webkit-box-shadow: 0 0 5px rgba(0, 0, 0, 0.7);
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.7);
}

.container-fluid .row .col .inner-card-width .card-body .card-text-height {
    height: 40px;
}

.container-fluid .row .display-none {
    height: 100%;
}

.container-fluid .row .col .hide {
    display: none !important;
}

.container-fluid .row .col #toggle-filter {
    display: none;
}


/* 1200 - 1400  */

@media screen and (max-width: 1400px) {
    /* apparels page css */
    .container-fluid .row .col .inner-card-width {
        width: 23.2%;
    }
    .container-fluid .row .col #toggle-filter {
        display: none;
    }
}


/* 1000 -1200  */

@media screen and (max-width: 1130px) {
    .container-fluid .row .col .inner-card-width {
        width: 23%;
    }
}


/* 900 -1000  */

@media screen and (max-width: 1000px) {
    .container-fluid .row .col .inner-card-width {
        width: 22.8%;
    }
}


/* 820 - 900  */

@media screen and (max-width: 930px) {
    .container-fluid .row .col .inner-card-width {
        width: 30%;
    }
}


/* 780 - 820  */

@media screen and (max-width: 820px) {}


/* 600 - 780  */

@media screen and (max-width: 730px) {
    .container-fluid .row .col-2 {
        display: none !important;
    }
    .container-fluid .row .col .hide {
        display: block !important;
    }
}


/* 510 -600  */

@media screen and (max-width: 630px) {
    .container-fluid .row .col .inner-card-width {
        width: 46%;
    }
}


/* 480 - 510  */

@media screen and (max-width: 510px) {}


/* 435 - 480  */

@media screen and (max-width: 445px) {
    .container-fluid .row .col .inner-card-width {
        width: 100%;
        height: auto;
    }
    .container-fluid .row .col .card {
        position: relative;
    }
    /* card image css  */
    .container-fluid .row .col .card img {
        width: 40%;
        float: left !important;
    }
    /* card content css  */
    .container-fluid .row .col .card .card-body {
        width: 55%;
        height: 100%;
        position: absolute;
        right: 0;
        top: 0;
        text-align: left !important;
    }
    /* Nepal text css  */
    .container-fluid .row .col .card .card-body .text-end {
        position: absolute;
        bottom: 12px;
        right: 15px;
    }
}


/* 380 - 435  */

@media screen and (max-width: 390px) {
    /* Nepal text size  */
    .container-fluid .row .col .card p {
        font-size: 10px !important;
    }
    /* Otaku Emporium text size  */
    .container-fluid .row .col .card span {
        font-size: 12px !important;
    }
    .container-fluid .row .col .card .card-body .h6 {
        height: 40px;
    }
    .container-fluid .row .col .card div {
        font-size: 15px !important;
    }
}